html body {
  /* background-color: #F3713A;   */
  background-color:white;
}

.MuiAppBar-colorPrimary{
  background-color: #F3713A !important;
}

.homeBody{
  padding:20px;
}

.App {
  text-align: center;
}
.navlogo{
  height:30px !important;
  float:right;
}

.App-logo {
  height: 35vmin;
  pointer-events: none; 
}

.nav {
  background: #F3713A  !important;
  padding:20px;
  /* padding-bottom:40px !important; */
}
.nav ul {
  display: flex;
  justify-content: start;
  padding: 0;
  list-style: none;
}
.nav li {
  padding-right:20px;
  height:30px;
  list-style-type: none;
  display:block;
  float:left;
}
.nav li:not(:first-child)  {
  padding-top:5px;
}

.nav li a {
  text-decoration:none;
  color:white;
  font-weight:400;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
